<!DOCTYPE html>

<html>
    
    <head>    
        <link href="/css/index.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>

    <body>
        <img class="background-rotated" src="/images/grid-background.png"/>
            <div class="body-content">
                <h1 class="main-header">404 Error</h1>
                <h2 class="sub-header"><a href="/">go home</a></h2>
            </div>
        </div>
    </body>

</html>
