<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" type="text/css" rel="stylesheet">
		<title>About</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	</head>

	<body>
		<div id="page-header">
			<div class="banner">
				<a href="/"><h2>Saalbach.dev</h1></a>
				<p>Computer Science & Engineering</p>
			</div>
			<a href="/about" class="sel">About</a>
			<a href="/blog">Blog</a>
			<a href="/contact">Contact</a>
			<a>RSS <u style="color: red;">(todo)</u></a>
		</div>
		<div id="content">
			<div class="content-list">
				<a href="#education_and_interests">Education and Interests</a>
				<a href="#my_projects">My Projects</a>
				<a href="#my_setup">My Setup</a>
			</div>
			<p><span id="education_and_interests" class="hi-start">Education and Interests</span>The majority of my education took place in the Leipzig International School (LIS), which is also in my hometown. in the LIS I completed the IB (International Baccalaureate) programme, a well rounded and extensive high-school program that did a good job preparing me for university. Early on I already took a lot of interest in computers, which my teacher also supported and enabled. My teacher helped me achieved top grades in the class and gain a strong headstart on a lot of CS topics. I also got a perfect grade in my Computer Science Internal Assessment (an essay-like report, and in this case also programming assignment).</p>
			<p>Now I have moved on to the TU Delft in the Netherlands, studying Computer Science and Engineering, a broad programme which enables students to focus on many aspects of Computer Science. This also includes a good range of variants, for which I chose the systems variant.</p>

			<p><span id="my_projects" class="hi-start">My Projects</span>
			</p>


			<p><span class="hi-start" id="my_setup">My Setup</span>As already mentioned on the start page, I am an avid linux user, who has also spent a good bit of time tuning his setup, setting it up to his liking and thinking about his workflow. You can see my exact configuration on my GitHub (<a href="https://github.com/2weiEmu/robert-dotfiles">here</a>) but to also show it here:</p>
			<img src="/images/setup.png">
			<p>In truth I have 2 setups, though using my GitHub I share the configuration, though to be complete I will list them here:</p>
			<ul style="display: flex; justify-content: center;">
				<li style="margin: 50px;">My Software
					<ul>
						<li>Wayland + Hyprland</li>
						<li>Oh-My-Zsh</li>
						<li>Eww (Elkowar's Wacky Widgets)</li>
						<li>Tmux</li>
						<li>St (simple terminal by suckless.org)</li>
						<li>Neovim</li>
						<li>Wofi</li>
						<li>Dunst</li>
						<li>Firefox</li>
					</ul>
				</li>
				<li style="margin: 50px">First Setup Hardware (Laptop)
					<ul>
						<li>AMD Ryzen 5800H</li>
						<li>Nvidia RTX 3060 Max-Q</li>
						<li>32GiB of 3200MT/s DDR4</li>
						<li>1TiB NVMe + 512GiB NVMe SSDs</li>
						<li>120Hz 1080p display</li>
					</ul>
				</li>
				<li style="margin: 50px">Second Setup Hardware (Desktop + Server)
					<ul>
						<li>AMD Ryzen 7600X</li>
						<li>AMD XFX 6700XT 12GiB</li>
						<li>32GiB 5600MT/s DDR5</li>
						<li>1TiB NVMe SSD</li>
						<li>240Hz 1080p Samsung Display</li>
						<li>144Hz 1080p HP Display</li>
						<li>Unicomp New Model M (+ Tux Keys)</li>
						<li>Logitech G305</li>
						<li>Server: Intel i5-6400T</li>
						<li>Server: 16GiB of 2133MT/s DDR4</li>
						<li>Server: 512GiB SATA SSD</li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>
