<!DOCTYPE html>


<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

        <link href="../css/index.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>



    <body>

        <header>

            <h1>About Me</h1>
            <h2>Robert A. Saalbach</h2>

        </header>

<pre class="code-text">
/**
 *
 *
 *
 *
 *
 *
 *
 *
 */
</pre>
<br>
<h2>My Projects</h2>
<pre class="code-text">
/**
 *
 *
 *
 *
 *
 *
 *
 *
 */
</pre>
        <footer>
            <a href="/about">About (and Projects)</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
            <a href="/setup">My Setup</a>
            <a href="/">Home</a>
        </footer>


    </body>


</html>
