<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" type="text/css" rel="stylesheet">
		<title>About</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	</head>

	<body>
		<div id="page-header">
			<div class="banner">
				<a href="/"><h2>Saalbach.dev</h1></a>
				<p>Computer Science & Engineering</p>
			</div>
			<a href="/about" class="sel">About</a>
			<a href="/blog">Blog</a>
			<a href="/contact">Contact</a>
			<a>RSS <u style="color: red;">(todo)</u></a>
		</div>
		<div id="content">
			<div class="content-list">
				<a href="#education_and_interests">Education and Interests</a>
				<a href="#my_projects">My Projects / Skills</a>
				<a href="#my_setup">My Setup</a>
			</div>
			<p><span id="education_and_interests" class="hi-start">Education and Interests</span>The majority of my education took place in the Leipzig International School (LIS), which is also in my hometown. in the LIS I completed the IB (International Baccalaureate) programme, a well rounded and extensive high-school program that did a good job preparing me for university. Early on I already took a lot of interest in computers, which my teacher also supported and enabled. My teacher helped me achieved top grades in the class and gain a strong headstart on a lot of CS topics. I also got a perfect grade in my Computer Science Internal Assessment (an essay-like report, and in this case also programming assignment).</p>
			<p>Now I have moved on to the TU Delft in the Netherlands, studying Computer Science and Engineering, a broad programme which enables students to focus on many aspects of Computer Science. This also includes a good range of variants, for which I chose the systems variant.</p>

			<p><span id="my_projects" class="hi-start">My Projects / Skills</span>
			<h2>Golang</h2>
			<p><b>Quotebook.page</b> - A small page that I created for a group of friends in which they should be able to easily save quotes, the backend is written in Go, and uses a simple SQLite3 database. There is also a branch that implements a fancier interface using Javascript (on the front-end not the back-end, the original branch contains no javascript), written by one of the friends.</p>
			<p><b>Saalbach.dev</b> - A small personal website so that people can find out things about me and you are probably using it right now, at least I'd kind of hope so? The backend is in Go but nothing super special.</p>
			<h2>Assembly</h2>
			<p><b>Goosyroad</b> - A game written for one of my uni courses together with a teammate, that implements a basic 2D crossy-road like game in x86-64 (GAS not Intel Syntax) Assembly using Linux calling conventions and system-calls (i.e. don't run it on Windows).</p>
			<h2>C</h2>
			<p><b>TermStop</b> - A small project that is simply a terminal stopwatch with some basic flags and things. I wrote it in order to try out some more C programming, experiment with threads and just solidify my C knowledge and even expand it a bit, for example with flag parsing.</p>
			<h2>Java</h2>
			<p><b>Grid Rider Battlecode</b> - Here I participated in a Battlecode hosted by MIT, where we placed in the 80th percentile. Together with a team from my school we wrote a bot in Java in order to defeat our opponents in a scenario setup by the MIT team. We competed in the year 2020.</p>
			<h2>Python</h2>
			<p><b>Robit Transpiler</b> - The Robit Transpiler is a project that implement the IGCSE Pseudocode (semi-)specifications in order to privde students with an actual working interpreter for a language that is otherwise only Pseudocode and harder to logically check. (Once again WIP)</p>
			<p><b>sis50.nl</b> - A house website for the student house I live at so that we can coordinate cooking, shopping, notices and also look at some nice XKCD comics. Here the backend is in Python, but once again nothing super fancy, except for perhaps the WebSockets involved. (Old and soon to be re-written with Go and a better style)</p>
			<p><b>Genetic Algorithm for the Traveling Salesman Problem</b> - A project written in Python back in high school in which I constructed a basic genetic algorithm in order to solve the traveling salesman problem. The program is very basic, with a preset "map". There are also quite many optimisations that could be done.</p>
			<h2>Misc</h2>
			<p><b>Arch Linux</b> - I avidly use Arch Linux and have done a decent amount of work to ensure that I am happy with my setup and that I am not only comfortable, but also efficient in it.</p>
			<p><b>Neovim</b> - Neovim is my editor of choice, due to it's fast start times, wonderful extensibility, efficiency and just generally the great editing experience that most Vim-like editors provide.</p>
			<p><b>Golang (Self-taught)</b> - Go is an efficient, modern and good utility language that can be used for multiple applications, such as web services. (And is also able to provide performance). Therefore I made the decision to attempt multiple projects, slowly and steadily increasing my ability with the language, so that I have it in my toolbelt.</p>
			<p><b>Java</b> - As part of my university courses at TU Delft we have been completing projects (also in groups) in Java. Also using Springboot in order to provide network-connectivity.</p>
			<p><b>ASM & C</b> - During a university class in the first quarter of the first year (and second quarter of the second year) of my first year at TU Delft there was classes covering GAS-Syntax x86-64 assembly and the C language, both providing multiple challenging assignments in order to prove your understanding of assembly, C and low-level functions of a computer and other systems as well, as, for example, for one of the classes we constructed and programmed a robot and also a Hash map.</p>
			<p><b>Python</b> - Python is a scripting language that I learned in high school and a language in which I am confident. It's something that I wrote many of my early projects with as it was the first language that I learned about more deeply.</p>
			</p>


			<p><span class="hi-start" id="my_setup">My Setup</span>As already mentioned on the start page, I am an avid linux user, who has also spent a good bit of time tuning his setup, setting it up to his liking and thinking about his workflow. You can see my exact configuration on my GitHub (<a href="https://github.com/2weiEmu/robert-dotfiles">here</a>) but to also show it here:</p>
			<img src="/images/setup.png">
			<p>In truth I have 2 setups, though using my GitHub I share the configuration, though to be complete I will list them here:</p>
			<ul class="flex-ad">
				<li style="margin: 50px;">My Software
					<ul>
						<li>Wayland + Hyprland</li>
						<li>Oh-My-Zsh</li>
						<li>Eww (Elkowar's Wacky Widgets)</li>
						<li>Tmux</li>
						<li>St (simple terminal by suckless.org)</li>
						<li>Neovim</li>
						<li>Wofi</li>
						<li>Dunst</li>
						<li>Firefox</li>
					</ul>
				</li>
				<li style="margin: 50px">First Setup Hardware (Laptop)
					<ul>
						<li>AMD Ryzen 5800H</li>
						<li>Nvidia RTX 3060 Max-Q</li>
						<li>32GiB of 3200MT/s DDR4</li>
						<li>1TiB NVMe + 512GiB NVMe SSDs</li>
						<li>120Hz 1080p display</li>
					</ul>
				</li>
				<li style="margin: 50px">Second Setup Hardware (Desktop + Server)
					<ul>
						<li>AMD Ryzen 7600X</li>
						<li>AMD XFX 6700XT 12GiB</li>
						<li>32GiB 5600MT/s DDR5</li>
						<li>1TiB NVMe SSD</li>
						<li>240Hz 1080p Samsung Display</li>
						<li>144Hz 1080p HP Display</li>
						<li>Unicomp New Model M (+ Tux Keys)</li>
						<li>Logitech G305</li>
						<li>Server: Intel i5-6400T</li>
						<li>Server: 16GiB of 2133MT/s DDR4</li>
						<li>Server: 512GiB SATA SSD</li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>
