<!DOCTYPE html>

<html>


    <head>

    </head>


    <body>

        <form action="/preview" method="POST">

            <input name="title" placeholder="Title..."></input><label for="title">Blog title</label><br><br>
            <input name="date" placeholder="Date..."></input><label for="date">Blog date</label><br><br>
            <input name="author" placeholder="Author..."></input><label for="author">Blog author</label><br><br>
            <input name="desc" placeholder="Description..."></input><label for="title">Blog description</label><br><br>
            <input name="path" placeholder="Path..."></input><label for="title">Blog path</label><br><br>
            <input name="topics" placeholder="Topics..."></input><label for="title">Blog topics</label><br><br>
            <input name="notes" placeholder="Notes..."></input><label for="title">Blog notes</label><br><br>
            <textarea name="content" placeholder="Content..."></textarea><label for="title">Blog content</label><br><br>

            <button type="submit">
                Upload
            </button>
        </form>
    </body>

</html>

