<!DOCTYPE html>


<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

        <link href="/css/index.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>

    <body>
        <header>
            <h1>Contact Me</h1>
            <h2>Robert A. Saalbach</h2>
        </header>

        <!-- TODO: images on the side, things like that -->
        <!-- TODO: add RSS Feed for blog -->
        <!-- TODO: add box for easy instant emailing if wanted -->
        <p class="code-sep">- - - - - -</p>
        <p class="code-text"><a href="mailto:saalbach.robert@oulook.de">Email (saalbach.robert@outlook.de)</a></p>
        <p class="code-text"><a href="https://www.github.com/2weiEmu">GitHub</a></p>
        <p class="code-text"><a>LinkedIn</a></p>
        <p class="code-sep">- - - - - -</p>

        <!-- TODO: make form to submit something to my email -->

        <footer>
            <a href="/about">About (and Projects)</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
            <a href="/setup">My Setup</a>
            <a href="/">Home</a>
        </footer>
    </body>

</html>

</html>
