<!DOCTYPE html>

<html>
    
    <head>    
        <link href="/css/index.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>

    <body>
        <img class="background-rotated" src="/images/grid-background.png"/>
        <div class="content-body">
            <nav class="sidebar-navigation">
                <a href="/"><img id="keyboard-logo" src="/images/keyboardlogo-black.png"/></a>
                <a href="/about" class="nav-link">about</a>
                <a href="/projects" class="nav-link">projects</a>
                <a href="/blog" class="nav-link">blog</a>
                <a href="/contact" class="nav-link nav-highlight">contact</a>
            </nav>
            <nav class="menu-navigation">
                <div id="menu-up" class="menu-up" onclick="toggleMenu()">menu</div>
                <div class="menu-content" id="side-menu">
                    <a href="/about">about</a>
                    <a href="/projects">projects</a>
                    <a href="/blog">blog</a>
                    <a class="nav-highlight" href="/contact">contact</a>
                </div>
            </nav>
            <a href="/" id="mobile-logo-wrapper"><img src="/images/keyboardlogo-black.png" id="mobile-logo"></a>
            <div class="body-content">
                <h1 class="main-header">Contact Me</h1>
                <h2 class="sub-header">robert saalbach</h2>

                <p class="main-content"> 
                <a href="mailto:saalbach@robert.outlook.de">saalbach.robert@outlook.de</a><br>
                <a href="https://github.com/2weiEmu">GitHub</a><br>
                <a>LinkedIn</a><br>
                </p>

                <!-- TODO: implement this so people can send me e-mail or so like this -->
                <h3>contact form</h3>
                <form class="body-form" action="/contact">
                    <input required type="email" placeholder="your email..."></input>
                    <input required type="text" placeholder="your name..."></input>
                    <textarea required rows="15" placeholder="write me..."></textarea>
                    <input type="image" src="/images/mail.png" border="0" alt="Submit" />
                </form>
            </div>
        </div>
    </body>


    <!-- I will commit sin and add a little bit of javascript -->
    <script src="/js/index.js"></script>


</html>
