<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" type="text/css" rel="stylesheet">
		<title>Contact</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	</head>

	<body>
		<div id="page-header">
			<div class="banner">
				<a href="/"><h2>Saalbach.dev</h1></a>
				<p>Computer Science & Engineering</p>
			</div>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
			<a href="/contact" class="sel">Contact</a>
			<a href="/feed">RSS</a>
		</div>
		<div id="content">
			<p>There are multiple ways to reach and directly contact me, though the most interesting to you are probably the following:</p>
			<ul>
				<li><a href="https://github.com/2weiEmu">My GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/robert-saalbach-418414203/">My LinkedIn</a></li>
				<li><a href="mailto:saalbach.robert@outlook.de">My Email</a></li>
			</ul>

			<p>If you want to interact with me in other ways, perhaps by simply seeing what I think or other things, there aren't that many spaces where I actively share my opinions and the best you will probably find are my <a href="/feed">RSS</a> channel and therefore also my <a href="/blog">Blog</a> page.</p>
			<p>I have some plans to increase my outreach and activity on other platforms and other circles, though that is something that is still coming.</p>
		</div>
	</body>

</html>
