<!DOCTYPE html>


<html>

	<head>
		<link href="/css/index.css" type="text/css" rel="stylesheet">
		<title>Home</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	</head>

	<body>
		<div id="page-header">
			<div class="banner">
				<a href="/"><h2 class="sel">Saalbach.dev</h1></a>
				<p>Computer Science & Engineering</p>
			</div>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
			<a href="/contact">Contact</a>
			<a>RSS <u style="color: red;">(todo)</u></a>
		</div>
		<div id="content">
			<p><span class="hi-start">Hi</span>, I'm <span class="hi-start">Robert Arno Saalbach</span> a passionate Computer Scientist currently Studying at the TU Delft in the Netherlands after 12 years of IB (International Baccalaureate) education. I have a wide range of interests, though also interested in pursuing low-level and systems programming. I love working with systems, tinkering and bringing the most out of them. I am an avid Linux user as well, as it helps me best live my passions in programming, tinkering and more.</p>
			<p>You can look at more and find out more about my projects on my <a href="/about">about</a> page.</p>
			<p>If you want to you can always reach me through things like: my <a href="https://github.com/2weiEmu">GitHub</a>, my <a href="https://www.linkedin.com/in/robert-saalbach-418414203/">LinkedIn</a> or my <a href="mailto:robert@saalbach.dev">Email</a>.</p>
			<p>I know this website isn't very fancy, though something you should know about me: I don't really do frontend design, most of those attempts are mediocre, or not very well executed, in my opinion. (I am not saying there aren't good designs out there that are cool and fancy, but I am just not that capable of creating them in a way that I am satisfied with as well). So instead I chose to keep this website simple and functional - this is more about the content than the layout.</p>
		</div>
	</body>

</html>
