<!DOCTYPE html>

<html>


    <head>    
        <link href="/css/main.css?version=4.1" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>

    <body>

        <nav class="header-nav">
            <div><a class="nav-button" href="">Projects</a></div>
            <div><a class="nav-button" href="">About</a></div>
            <div><img src="/images/logo.png" class="logo"></div>
            <div><a class="nav-button" href="">Blog</a></div>
            <div><a class="nav-button" href="">Contact</a></div>
        </nav>

    </body>

</html>
