<!DOCTYPE html>

<html>
    
    <head>    
        <link href="/css/newIndex.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>

    <body>
        <img class="background-rotated" src="/images/grid-background.png"/>
        <div class="content-body">
            <nav class="sidebar-navigation">
                <a href="/"><img id="keyboard-logo" src="/images/keyboardlogo.png"/></a>
                <a href="/about" class="nav-link">about</a>
                <a href="/projects" class="nav-link">projects</a>
                <a href="/blog" class="nav-link">blog</a>
                <a href="/contact" class="nav-link">contact</a>
            </nav>
            <nav class="menu-navigation">
                <div onclick="reveal_side_menu" class="menu-up">></div>
                <div class="menu-content" id="side-menu">
                    <a>home</a>
                    <a>about</a>
                    <a>projects</a>
                    <a>blog</a>
                    <a>contact</a>
                </div>
            </nav>
            <div class="body-content">
                <h1 class="main-header">Robert Saalbach</h1>
                <h2 class="sub-header">2weiemu / zweiemu</h2>

                <p> 
                i'm a student at the <a href="https://www.tudelft.nl/en/">TU Delft</a> in the netherlands doing a bachelor in <a href="https://www.tudelft.nl/en/education/programmes/bachelors/cse/bachelor-of-computer-science-and-engineering/">Computer Science (and Engineering)</a>, looking at aersopace-related opportunities as well. being interested in systems-programming i achieved a perfect grade in the most closely related subject so far, and being registered for the related variant. my interest in computer science only grew with me competing in an <a href="https://battlecode.org/past.html">MIT-hosted hackathon ()</a>, the computer science lessons in high school and me completing a lot of <a>work in my own time</a> as well. if you are like-minded and enthusiastic, come talk to me, i am always open to try things.
                </p>
            </div>
        </div>
    </body>


    <!-- I will commit sin and add a little bit of javascript -->
    <script>
        function reveal_side_menu() {
            var sideMenu = document.getElementById("side-menu");

            sideMenu.style.display = flex;
            console.log("hi");
        }
    </script>


</html>
