<!DOCTYPE html>

<html>
    
    <head>    
        <link href="/css/newIndex.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>

    <body>
        <img class="background-rotated" src="/images/grid-background.png"/>
        <div class="content-body">
            <nav class="sidebar-navigation">
                <a href="/"><img id="keyboard-logo" src="/images/keyboardlogo.png"/></a>
                <a href="/about" class="nav-link">about</a>
                <a href="/projects" class="nav-link">projects</a>
                <a href="/blog" class="nav-link">blog</a>
                <a href="/contact" class="nav-link">contact</a>
            </nav>
            <nav class="menu-navigation">
            </nav>
            <div class="body-content">
                <h1 class="main-header">Robert Saalbach</h1>
                <h2 class="sub-header">2weiemu / zweiemu</h2>

                <p> 
                I'm a student at the <a href="https://www.tudelft.nl/en/">TU Delft</a> in the Netherlands doing a Bachelor in <a href="https://www.tudelft.nl/en/education/programmes/bachelors/cse/bachelor-of-computer-science-and-engineering/">Computer Science (and Engineering)</a>, looking at Aersopace-related opportunities as well. Being interested in Systems-programming I achieved a perfect grade in the most closely related subject so far, and being registered for the related variant. My interest in Computer Science only grew with me competing in an <a href="https://battlecode.org/past.html">MIT-hosted Hackathon ()</a>, the computer science lessons in High school and me completing a lot of <a>work in my own time</a> as well. If you are like-minded and enthusiastic, come talk to me, I am always open to try things.
                </p>
            </div>
        </div>
    </body>


</html>
