<!DOCTYPE html>

<html>
    
    <head>    
        <link href="/css/index.css?version=3.1" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>

    <body>
        <img class="background-rotated" src="/images/grid-background.png"/>
        <div class="content-body">
            <nav class="sidebar-navigation">
                <a href="/"><img id="keyboard-logo" src="/images/keyboardlogo-black.png"/></a>
                <a href="/about" class="nav-link">about</a>
                <a href="/projects" class="nav-link nav-highlight">projects</a>
                <a href="/blog" class="nav-link">blog</a>
                <a href="/contact" class="nav-link">contact</a>
            </nav>
            <nav class="menu-navigation">
                <div id="menu-up" class="menu-up" onclick="toggleMenu()"><img class="menu-icon" src="/images/menu.png"/></div>
                <div class="menu-content" id="side-menu">
                    <a href="/about">about</a>
                    <a class="nav-highlight" href="/projects">projects</a>
                    <a href="/blog">blog</a>
                    <a href="/contact">contact</a>
                </div>
            </nav>
            <a href="/" id="mobile-logo-wrapper"><img src="/images/keyboardlogo-black.png" id="mobile-logo"></a>
            <div class="body-content">
                <h1 class="main-header">My Projects</h1>
                <h2 class="sub-header">robert arno saalbach</h2>

                <div class="projects-grid main-content">
                    <div class="project-item">
                        <a href="https://github.com/2weiEmu/Termstop"><h3>TermStop</h3></a>
                        <p class="proj-desc">A small project that is simply a terminal stopwatch with some basic flags and things. I wrote it in order to try out some more C programming, experiment with threads and just solidify my C knowledge and even expand it a bit, for example with flag parsing.</p>
                    </div>
                    <div class="project-item">
                        <!-- TODO: add images to the projects -->
                        <a href="https://github.com/2weiEmu/Robit-Transpiler-Local"><h3>Robit Transpiler</h3></a>
                        <p class="proj-desc">The Robit Transpiler is a project that implement the IGCSE Pseudocode (semi-)specifications in order to privde students with an actual working interpreter for a language that is otherwise only Pseudocode and harder to logically check.<br>(Once again WIP)</p>
                    </div>
                    <div class="project-item">
                        <a href="https://github.com/knyazer/goosyroad"><h3>Goosyroad</h3></a>
                        <p class="proj-desc">A game written for one of my uni courses together with a teammate, that implements a basic 2D crossy-road like game in x86-64 (GAS not Intel Syntax) Assembly using Linux calling conventions and system-calls (i.e. don't run it on Windows).</p>
                    </div>
                    <div class="project-item">
                        <a href="https://github.com/2weiEmu/quotebook.page"><h3>Quotebook.page</h3></a>
                        <p class="proj-desc">A small page that I created for a group of friends in which they should be able to easily save quotes, the backend is written in Go, and uses a simple SQLite3 database. There is also a branch that implements a fancier interface using Javascript (on the front-end not the back-end, the original branch contains no javascript), written by one of the friends.</p>
                    </div>
                    <div class="project-item">
                        <a href="https://github.com/2weiEmu/Saalbach.dev.go"><h3>This website</h3></a>
                        <p class="proj-desc">A small personal website so that people can find out things about me and you are probably using it right now, at least I'd kind of hope so? The backend is in Go but nothing super special.<br>My sister (Lisa Saalbach) was also a great help in designing this website.</p>
                    </div>
                    <div class="project-item">
                        <a href="https://github.com/2weiEmu/sis50.nl"><h3>House website</h3></a>
                        <p class="proj-desc">A house website for the student house I live at so that we can coordinate cooking, shopping, notices and also look at some nice XKCD comics. Here the backend is in Python, but once again nothing super fancy, except for perhaps the WebSockets involved. (Old and soon to be re-written with Go and a better style)</p>
                    </div>
                    <div class="project-item">
                        <a href="http://www.lis.school/observer/2021/03/10/lis-at-the-battlecode-hackathon/"><h3>Grid Rider Battlecode</h3></a>
                        <p class="proj-desc">Here I participated in a Battlecode hosted by MIT, where we placed in the 80th percentile. Together with a team from my school we wrote a bot in Java in order to defeat our opponents in a scenario setup by the MIT team. <a href="https://battlecode.org/past.html">We competed in the year 2020.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <div id="bottom-margin"></div>

    <!-- I will commit sin and add a little bit of javascript -->
    <script src="/js/index.js"></script>


</html>

