<!DOCTYPE html>

<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

        <link href="/css/index.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head>


    <body>

        <header>
            <h1>My Setup</h1>
            <h2>Robert A. Saalbach</h2>
        </header>

        <h2>My Desktop</h2>
        <img src="../images/hyprland-desktop.png">

        <p class="code-sep">- - - - - -</p>
        <p class="code-text">
        <i>Hardware</i>: Ideapad Gaming, Lenovo; Ryzen 7 5800H; RTX 3060 Mobile; 16GB RAM; 1.5TB Storage; Unicomp New Model-M Keyboard (with Tux Keys); Logitech G305 Mouse; 240Hz 1080p 27 Inch Samsung CRG5 Monitor;</p>
        <p class="code-sep">- - - - - -</p>
        <p class="code-text">
        <i>Software</i>: Arch Linux; GDM (GNOME); Hyprland; Waybar; Alacritty Terminal;
        oh-my-zsh / zsh; tmux; firefox; neovim; neomutt; isync;
        </p>
        <p class="code-sep">- - - - - -</p>
<br><br>
<h2>Keyboard</h2>

        <img src="../images/tux-unicomp.jpg">

        <footer>
            <a href="/about">About (and Projects)</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
            <a href="/setup">My Setup</a>
            <a href="/">Home</a>
        </footer>
    </body>


</html>
