:root {
	--bg: #131316;
	--fg: #f0f0f0;
	--ac: #de935f;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
}

a {
	color: var(--ac);
}

#page-header {
	display: flex;
	column-gap: 30px;
	border-bottom: 2px solid var(--ac);
	padding: 0 2.5% 0% 2.5%;
	color: var(--fg);
}

#page-header a {
	font-size: 1.5rem;
	margin-top: auto;
	margin-bottom: auto;
	color: var(--fg);
	text-decoration: none;
}

#content {
	padding: 4% 15% 0% 15%;
}

#content p, #content a, #content li {
	line-height: 39px;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.33rem;
}

h3 {
	font-size: 2rem;
}

.banner p {
	margin-top: 0;
	text-align: center;
}

.banner h2 {
	margin-bottom: 0;
	text-align: center;
}

.hi-start {
	font-size: 3rem;
	font-weight: bold;
	padding: 0 10px 0 10px;
}

.his-start {
	font-size: 2.5rem;
}

.sel {
	color: var(--ac) !important;
}

.content-list {
	display: flex;
	column-gap: 10px;
}

.content-list a {
	font-size: 20px;
	color: var(--fg);
	padding: 10px;
	border-radius: 0 10px 10px 0;
	border-right: 1px solid var(--ac);
	border-top: 1px solid var(--ac);
	border-bottom: 1px solid var(--ac);
}

.content-list:first-child {
	border-left: 1px solid var(--ac);
}

img {
	width: 100%;
}
