@import url('https://fonts.googleapis.com/css2?family=Rosario&family=VT323&display=swap');

:root {
    --background: #EAD8C4;
    --foreground: #343434;
    --accent: #D41D6D;
    --background-alt: #FBE9D5;

}

img {
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    font-family: rosario;
}

h1, h2, h3, p {
    color: var(--foreground);
}

a {
    text-decoration: none;
    color: var(--accent);
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background);
}

.content-body {
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.background-rotated {
    position: fixed;
    min-height: 100%;
    width: 100%;
    opacity: 0.05;
    transform: rotate(135deg);
    scale: 2.1;
    object-fit: cover;
    z-index: -1;
}

.menu-navigation {
    display: none;
}

.sidebar-navigation {
    min-width: 21.35%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}

.nav-link {
    font-size: 60px;
    height: 60px;
    margin: 0 0 90px 49px;
    color: var(--foreground);
    font-style: normal;
    font-weight: 400;
}

.nav-link-animate {
    animation-duration: 1.5s;
    animation-name: slide-in-side;
    animation-direction: normal;
    animation-iteration-count: 1;
}

#keyboard-logo {
    height: 198px;
    width: 168px;
    margin-left: 34px;
    font-size: unset;
}

h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
}


h2 {
    font-size: 36px;
    color: var(--accent);
    font-style: normal;
    font-weight: 400;
}

p {
    line-height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: justify;
    width: 78%;
    height: 432px; 
    margin-top: 150px;
    animation-duration: 1.5s;
    animation-name: slide-in-top;
    animation-direction: normal;
    animation-iteration-count: 1;
}

.main-header {
    margin-top: 411px;
}

.sub-header {
    margin-top: 13px;
}


@keyframes slide-in-top {
    from {
        opacity: 0;
        margin-top: 300px;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in-side {

    from {
        opacity: 0;
        margin-left: -49px;
    }

    to {
        opacity: 1;
    }

}

@keyframes slide-in-bottom {
    from {
        margin-top: -100px;
    }

    to {
    }

}

.menu-up {
    font-style: normal;
    font-weight: 400;

}

.menu-content {
    display: none;
}

#mobile-logo-wrapper {
    display: none;
}

@media only screen and (max-width: 1290px) {

    .menu-navigation {
        display: flex;
        position: fixed;
        flex-direction: column;
        font-size: 64px;
        font-weight: bold;
        color: var(--accent);
        user-select: none;
        background-color: var(--background);
        padding: 0px 30px 0px 30px;
        width: 100%;
    }

    .menu-animate {
        animation: slide-in-bottom;
        animation-duration: 1s;
        animation-direction: normal;
        animation-iteration-count: 1;
    }


    .menu-content a {
        color: var(--foreground);
        font-size: 60px;
        font-weight: 400;
        font-style: normal;
        height: 60px;
        margin: 0 0 90px 0px;
    }

    .menu-content .nav-highlight {
        color: var(--accent);
    }

    .menu-content {
        flex-direction: column;
        background-color: var(--background);
        padding: 30px;
    }

    #mobile-logo-wrapper {
        display: inline-block;
        position: fixed;
        right: 5%;
        top: -10px;
    }

    #mobile-logo {
        height: 118px;
        width: 88px;

    }

    .menu-content {
        display: none;
    }

    .sidebar-navigation {
        display: none;
    }

    .body-content {
        width: 100%;
    }

    .main-header {
        margin: 200px 5% 15px 5%;
    }

    .sub-header {
        margin: 0px 5% 0px 5%;
    }
    
    p {
        margin: 150px 10% 0 10%;
        width: 80%;
        line-height: 52px;
        font-size: 24px;
    }
}

.nav-highlight {
    color: var(--accent);
}
