:root {
    --text: #ffffff; 
    --text-par: #dfdfdf;
    --background: #0f0f0f; 
    --primary: #a19991; 
    --secondary: #151919; 
    --accent: #737d87;
}

@font-face {
    font-family: FiraCode;
    src: url("/css/fonts/FiraCode-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', FiraCode, monospace; /* TODO: add font file */
}

body {
    background-color: var(--background);
    min-width: 100vw;
}

* {
    color: var(--text-par);
}

h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: normal;
    color: #ffffff;
}

h2 {
    color: var(--text);
    font-weight: normal;
    font-size: 1.75rem;
    margin: auto;
    padding: 0;
    vertical-align: center;
}

.sec-header {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    color: var(--primary);
    font-weight: normal;
}

a {
    color: var(--primary);
}

.pri-col {
    color: var(--primary);
}

.sec-col {
    color: var(--secondary);
}

.text-col {
    color: var(--text);
}

.acc-col {
    color: var(--accent);
}

.top-section {
    min-height: calc(100vh - 150px);
    padding: 75px;
}

.code-window {
    display: inline-block;
    background-color: #000000;
    border-radius: 15px;
    padding: 30px;
    min-width: calc(50% - 60px);
    margin: 0 25% 0 25%;
    user-select: none;
}

.ascii-art {
    display: flex;
    justify-content: space-around;
}

.ascii-art-image {
    height: 9rem
}

.ascii-art-image:hover {
    filter: brightness(3)
}

.first-container, .second-container, .third-container {
    margin: 0;
    padding: 0;
}

.first-container {
    min-height: 25vh;
}

.third-container {
    min-height: 25vh;
    width: 100%;
}

.sub-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.skills-section, .blogs-section {
    min-height: calc(100vh - 150px);
    padding: 75px;
}

#skill-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item-wrapper {
    padding: 15px 2.5% 15px 2.5%;
    width: 45%;

    height: 64px;
    transition: all 0.3s;
}

.skill-item {
    background-color: var(--secondary);
    height: 64px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s;
}

.item-wrapper:hover > .skill-item > p {
    display: inline;
}

.item-wrapper:hover, .item-wrapper:focus {
    height: 250px;
    transition: all 0.3s;
}

.item-wrapper:hover > .skill-item {
    height: 100%;
    transition: all 0.3s;
}

.skill-item > p {
    display: none;
    padding: 15px;
    transition: all 1s;
    line-height: 1.75rem;
}

.skill-item > h2 {
    width: calc(100% - 150px);
}

.image-container {
    margin: 0;
    padding: 0;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
}

.skill-icon {
    height: 48px;
    padding: 8px;
}

#blog-filter {
    display: flex;
    margin-bottom: 30px;
}

#blog-filter * {
    font-size: 1.75rem;
    padding: 12px;
}

#blog-filter button {
    border-radius: 0 15px 15px 0;
    outline: 0;
    border: none;
    border-left: 8px solid var(--background);
    background-color: var(--primary);
    color: var(--secondary);
}

#blog-filter input {
    width: 50%;
    border: none;
    outline: none;
    background-color: var(--secondary);
    border-radius: 15px 0 0 15px;
    color: var(--text);
}

.blog-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.blog-item {
    width: calc((100% / 3) - 50px);
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--secondary);
    min-height: 100px;
}

.blog-item > h3 {
    padding-bottom: 10px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag-list > .tag {
    background-color: lightblue;
    padding: 5px;
    margin: 0 8px 0 0;
    border-radius: 3px;
    color: var(--secondary);
}

@media only screen and (max-width: 640px) {
    .blog-item {
        width: calc(100%);
    }

    .ascii-art {
        flex-direction: column;
        min-width: unset;
        align-items: center;
    }

    .ascii-art-image {
        height: 90px;
    }

    .top-section, .skills-section, .blogs-section {
        padding: 10px;
        min-height: calc(100vh - 20px);
    }

    .first-container {
        min-height: unset;
    }

    .sub-links {
        flex-direction: column;
        align-items: center;
    }

    .acc-col {
        padding: 20px 0 0 0;
    }

    .ps1-prompt {
        display: none;
    }

    .item-wrapper {
        padding: 15px 2.5% 15px 2.5%;
        width: 95%;
        height: 100%;
    }

    h2 {
        font-size: 1rem;
    }

    .image-container {
        min-width: 80px;
    }

    .skill-icon {
        height: 24px;
        padding: 8px;
    }

    .skill-item {
        background-color: var(--secondary);
        height: 100%;
        border-radius: 15px;
    }

    .skill-item > p {
        font-size: 0.75rem;
        line-height: 1.25rem;
        margin: 0;
    }

    #blog-filter * {
        font-size: 1.25rem;
    }

    #blog-filter input {
        width: 70%;
    }
}


